torch==2.2.2
git+https://github.com/huggingface/transformers@e0c3cee17085914bbe505c159beeb8ae39bc37dd
git+https://github.com/huggingface/accelerate@67308ca6ef1e99c20e59ab89b8dfa575e55f83fa
git+https://github.com/huggingface/peft@6f41990da482dba96287da64a3c7d3c441e95e23
git+https://github.com/huggingface/trl@5aeb752053876cce64f2164a178635db08d96158
unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git
datasets
deepspeed
PyGithub
flash-attn
huggingface-hub
evaluate
bitsandbytes
einops
wandb
tensorboard
tiktoken
pandas
numpy
scipy
matplotlib
sentencepiece
nltk
xformers
git+https://github.com/huggingface/datatrove.git
tqdm
safetensors